<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="com.javahacks.demo.ui.workbench"
            application="org.eclipse.e4.ui.workbench.swt.E4Application">
         <property
               name="lifeCycleURI"
               value="bundleclass://com.javahacks.demo.ui.workbench/com.javahacks.demo.ui.workbench.E4LifeCycle">
         </property>
         <property
               name="applicationCSS"
               value="platform:/plugin/com.javahacks.demo.ui.workbench/css/default.css">
         </property>
         <property
               name="appName"
               value="com.javahacks.demo.ui.workbench">
         </property>
      </product>
   </extension>

</plugin>
