<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="setup" sequenceNumber="16">
<locations>
<location path="${project_loc:/target_platform}/maven_dependencies" type="Directory"/>
<location path="${eclipse_home}" type="Directory"/>
<location path="${project_loc:/target_platform}/delta_pack" type="Directory"/>
</locations>
</target>
